<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We Provide Unmatched Cybersecurity Expertise!</h2>
                <hr class="light">
                <p class="text-faded">Jedar means wall in Arabic language and we are your wall against threats.</p>
                <a href="#" class="btn btn-default btn-xl">Protect Your Systems Today!</a>
            </div>
        </div>
    </div>
</section>

