<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="Project 1">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Penetration Testing
                            </div>
                            <div class="project-name">
                                Comprehensive Security Assessments
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="Project 2">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Threat Detection
                            </div>
                            <div class="project-name">
                                Advanced Intrusion Monitoring
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="Project 3">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Intelligence Analysis
                            </div>
                            <div class="project-name">
                                Proactive Cyber Threat Insights
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="Project 4">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Red Teaming
                            </div>
                            <div class="project-name">
                                Real-World Attack Simulations
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="Project 5">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CyberSecurity Training
                            </div>
                            <div class="project-name">
                                Provide offensive and defensive training
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="Project 6">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cyber Threat Deception 
                            </div>
                            <div class="project-name">
                                We build and maintain implanted assets for deception and threat intelligence.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
